---
title: CCC Instructors Guide
layout: teachers-guide
ogTitle: Crypto Curious Teacher's Guide
ogImage: assets/img/CCC_Title.jpeg
ogDesc: Become a blockchain ambassador today!
---

 <a href="#toc"><img src="assets/img/UPbutton-01.png" id="fixedbutton"></a>
    <h1>Crypto Curious Course</h1>
    <p class="author">Blockchain Institute <br> June 2020</p>
    <div class="abstract">
        <h4>A comprehensive guide to teaching Crypto Curious Course</h4>
        <p>This guide will give you a rundown on the basics of cryptocurrency and blockchain with the aim of getting you comfortable with cryptocurrencies and blockchain technology. Before going over the specifics you will take a look at the context in which Bitcoin was launched into the world.</p>
    </div>
    <div id="housekeeping">
        <h5>Housekeeping</h5>
        <div>
            <p>This course is 2-3 hours long. Breaks may be helpful for discussion, but the content has been disnged to hold questions until the end.<p>
            </p>
            <ul>
                <li>You are free to:</li>
                <ul>
                    <li>Copy and redistributed the material in any medium or format</li>
                    <li>Remix, transform, and build upon the material for any purpose</li>
                </ul>
            </ul>
            <ul>
                <li>Provided:</li>
                <ul>
                    <li>You give appropriate credit</li>
                    <li>Provide a link to the licence</li>
                    <li>Indicate if changes were made</li>
                </ul>
            </ul>

            <!-- <figure><img alt="Blockchain Institute" src="assets/img/housekeeping.jpg" alt=""></figure> -->
        </div>
    </div>
    <div id="blockchain-institute">
        <h5>About Blockchain Institute</h5>
        <p><a href="https://weteachblockchain.org/" target="_blank">Blockchain Institute</a> is a United States 501(c)(3) non-profit charity whose mandate is to provide education to the public </p>
        <img alt="" src="assets/img/heart.black.png" alt="" width="35">
        <ul>
            <li>The content is released under <a href="#license">CC BY 4.0</a></li>
            <li>Follow us on social media!</li>
            <ul>
                <li>Twitter: <a href="https://twitter.com/bchaininstitute" target="_blank">@bchaininstitute</a></li>
                <li>Facebook: <a href="https://www.facebook.com/TheBlockchainInstitute/" target="_blank">theblockchaininstitute</a></li>
                <li>Instagram: <a href="https://www.instagram.com/theblockchaininstitute/" target="_blank">theblockchaininstitute</a></li>
            </ul>

        </ul>
    </div>
    <div>
        <h2>Table of Contents</h2>
        <ol id="toc">{% for slide in site.slides %}{% if slide.isSectionHead == true or slide.type == 'title-break' %}<li class="section"><a href="#{{ slide.slideId }}">{{ slide.title }}</a></li>{% elsif slide.isQuestionSlide == true  or slide.type == 'prompt-question' %}<li class="question-slide"><a href="#{{ slide.slideId }}">{{ slide.title }}</a></li>{% elsif slide.type == 'example' %}<li class="example"><a href="#{{ slide.slideId }}">Example: {{ slide.title }}</a></li>{% else %}<li><a href="#{{ slide.slideId }}">{{ slide.title }}</a></li>{% endif %}{% endfor %}
        </ol>
    </div>       

    {% include feedbackCallToAction.html %}

    <div class="notesDisclaimer">
        <span>The slides below show the slide first, with notes below it. To see the slides only, click the button below.</span>
        <a onclick="toggleAllNotes()">Toggle Notes</a>
    </div>

{% for slideIndex in site.slidesList %}
{% assign slide = site.slides 
        | where_exp:"slide", "slide.slideId==slideIndex" 
        | first %}
    {% if slide.type == "title-break" %}
		{% include title-break.html 
            slideId=slide.slideId
			title=slide.title
			notes=slide.notes
        %}
    {% elsif slide.type == "full-image" %}
		{% include full-image-slide.html 
            slideId=slide.slideId
            img=slide.img
            imgAlt=slide.imgAlt
            imgTitle=slide.imgTitle
            imgCaption=slide.imgCaption
			title=slide.title
			notes=slide.notes
		%}    
	{% elsif slide.type == "full-text" %} 
		{% include full-text-slide.html 
			slideId=slide.slideId
			title=slide.title
			content=slide.bodyText
			notes=slide.notes
        %}
    {% elsif slide.type == "example" %}
		{% include example.html 
            slideId=slide.slideId
			title=slide.title
            goal=slide.goal
            content=slide.details
        %}        
    {% elsif slide.type == "left-right" %} 
		{% include leftRightSlide.html 
			slideId=slide.slideId
			title=slide.title
			content=slide.bodyText
			notes=slide.notes
            img=slide.img
            imgAlt=slide.imgAlt
            imgTitle=slide.imgTitle
            imgCaption=slide.imgCaption
        %}   
    {% elsif slide.type == "top-bottom" %} 
		{% include top-bottom-slide.html 
			slideId=slide.slideId
			title=slide.title
			content=slide.bodyText
            notes=slide.notes
            img=slide.img
            imgAlt=slide.imgAlt
            imgTitle=slide.imgTitle
            imgCaption=slide.imgCaption            
        %}    
    {% elsif slide.type == "prompt-question" %} 
		{% include question-prompt-slide.html 
			slideId=slide.slideId
			title=slide.title
			notes=slide.notes
        %}
    {% elsif slide.type == "custom" %} 
		{% include custom-slide.html 
			slideId=slide.slideId
			title=slide.title
            notes=slide.notes
            content=slide.body
		%}                                   
	{% elsif slide.type == "default" %} 
		{% include defaultSlide.html 
			slideId=slide.slideId
			title=slide.title
			img=slide.img
			imgAlt=slide.imgAlt
			imgCaption=slide.imgCaption
			imgTitle=slide.imgTitle
            notes=slide.notes
            content=slide.body
        %} 
	{% endif %}

{% endfor %}

    <div id="thanks">
            <h5>Thanks</h5>
        <div>
            <p>To everyone who has contributed to this guide. It's all the small typos, heading level changes, blood, sweat, and tears put into this content that makes it so special. Without the following people, Crypto Curious Course would not be possible:</p>
            <ul>
                <li>Hannah Rosenberg</li>
                <li>Jordan Ruiz</li>
                <li>Jeremy Cogan</li>
                <li>Corey DiNardo</li>
                <li>Alex Morris</li>
                <li>Jason Swearingen</li>
            </ul>
        </div>
        <footer></footer>
    </div>
    <div id="license">
            <h5>Licensing</h5>
        <div>
            <p>Please attribute Blockchain Institute with a link to <a href="q=https://weteachblockchain.org">WeTeachBlockchain.org</a></p>
            <!-- <img alt="Licensing" src="images/by.png" title="Licensing" width="150"> -->
            <p>Except where otherwise noted, this work is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a> or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.</p>
            <p>Third party marks and brands are the property of their respective holders.</p>
        </div>
    </div>

    {% include feedbackCallToAction.html %}
    
<script>
function toggleAllNotes () {
    var allNotes = document.getElementsByClassName('notes-footer')

    // key off the first one to set the mode:
    if ( allNotes[0].className.includes('hidden') ) {
        // first one is hidden, so all should be displayed 
        for (note of allNotes) {
            note.className = note.className.replace('hidden', '')
        }
    } else {
        // first one is not hidden, so all should be hidden
        for (note of allNotes) {
            if ( note.className.includes('hidden') ) {
                // already hidden, do nothing
            } else {
                note.className += " hidden"
            }
        }
    }
}

function toggleNotes (slideId) {
    var slideNotes = document.getElementById(slideId + "-notes")

    if ( slideNotes.className.includes('hidden') ) {
        document.getElementById(slideId + "-notes").className = slideNotes.className.replace('hidden', '')
    } else {
        document.getElementById(slideId + "-notes").className += " hidden"
    }
}
</script>
