<article id="{{ include.slideId }}" class="left-right">    
    <header>
        <h2>{{ include.title }}</h2>
        <img  class="cornerLogo presenterOnly" src="/assets/img/BlockchainInstitute_Logo_COLOR.png">
    </header>
    <div>
        {{ include.content }}  
        <figure>
            <img alt="{{ include.imgAlt }}" src="assets/img/{{ include.img }}" title="{{ include.imgTitle }}">
            {% if include.imgCaption %}
                <figcaption>
                    {{ include.imgCaption }}
                </figcaption>
            {% endif %}    
        </figure>                 
    </div>
    {% include toggleNotesButton.html
        slideId = include.slideId
    %}
    <footer class="notes-footer" id="{{ include.slideId }}-notes">
        {{ include.notes }}
    </footer>
</article>
