<section class="userLoginPrompt">
    <div class="row">
        <div id="app">
            <div class="loadingMessage">
                <h3>Checking Login Session...</h3>
                <span>You must be a member of the Ambassador program to view teaching materials.</span><hr>
            </div>
        </div>

        <a class="noThanks" href="https://weteachblockchain.org/ambassadors/">Not a member of the Ambassador program? Click here to sign up!</a>
    </div>
    <script>
      renderMagic();
    </script>
</section>