article#title-slide {
    margin-top: 0em;
}

.notesToggleButton, footer {
    display: none;
}

article {
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 45em;
}

body {
    max-width: 100%;
    width: 100% !important;
}

li {
    font-size: 1.1em !important;
}

dl {
    font-size: 1.1em !important;
}

p {
    font-size: 1.1em !important;
}

h2 {
    font-size: 2rem;
}

article.title-break>div {
    min-height: inherit;
}

article.prompt-question>div {
    min-height: inherit;
}

article.title-break header, article.prompt-question header {
    width: 97%;
    padding-top: 270px;
    padding-left: 0em;
}

.title-break h2 {
    font-size: 1.75em;
}

.prompt-question h2 {
    font-size: 1.75em;
}

.top-bottom img {
    max-height: 25em;
}

article {
page-break-after : always;
}
