/* latex style override */
article>div,
article>header,
article>footer {
    margin-top: 0 !important;
}



article>div>*,
article>footer>* {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
footer li {
    font-family: roboto, sans-serif;
    color: #006889;
    font-weight: 300;
    /* font-size: .85em; */
}
footer p {
    font-family: roboto, sans-serif;
    color: #006889;
    font-weight: 300;
    padding-left: .5em;
    padding-right: 1em;
}
.full-text li {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-size: .9em;
}
.left-right li {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

h2,
h4 {
    margin-top: 1.4rem !important;
    margin-bottom: 1.4rem !important;
}

/*Up Button*/
#fixedbutton {
    position: fixed;
    bottom: 25px;
    right: 25px;
    max-width: 3%;
}

/* slideshow formatting */
article {
    background: url(/assets/img/BlockchainInstitute_Logo_COLOR.png) no-repeat;
    background-position: top 1.5em right 1em;
    background-size: 100px;
    border: 5px solid #efefef;
    margin-bottom: 2.25em;
}
header h3 {
    margin-right: 4em;
}
h3 {
    font-weight: 400;
    font-size: 1.2em !important;
    text-transform: uppercase;
    margin-top: 1.5rem !important;
}
article h4 {
    padding-left: .3em;
}
h5 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: .1em;
    color: #006889;
}
cite {
    font-family: "Open Sans", sans-serif;
    font-size: .8em;
    color: #006889;
}
blockquote {
    text-align-last: center;
}
ul ul {
    font-size: 1em;
}



article>header {
    padding-left: 2.25ex;
    padding-right: 2.25ex;
}

article>div {
    min-height: 300px;
    overflow-y: auto;
    z-index: 0;
    /* padding: 1em; */
}
figure {
    padding-bottom: 1em;
}

article>footer {
    background: #efefef;
    color: gray;
    font-style: italic;
    min-height: 100px;
    /*max-height: 100px;*/
    overflow-y: scroll;
    font-size: 75%;
    padding-bottom: 1.5em;
}



footer .subtitle {
    font-size: 110%;
    font-style: normal;
    color: black;
    padding-left: .2em;
}


figcaption {
    font-style: italic;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: .7em;
    margin-top: .5em !important;
}

figcaption>cite {
    font-size: 75%;
}

dt {
    font-weight: bold;
}

dl,
dd {
    text-align: left !important;
}

article.title-break header,
article.prompt-question header {
    /*margin-bottom: -150px;*/
    text-align: center;
    font-size: 150%;
    position: absolute;
    z-index: 10;
    display: block;
    width: 600px;
    clear: both;
    text-align: center;
    padding-top: 125px;
}

article.title-break header {
    color: white;

}

article.title-break>div {
    background: url(/assets/img/blue-background.png) center;
    background-size: contain;
    min-height: 350px;
}
.title-break h2 {
    text-transform: uppercase;
    font-size: 1.4em;
}

article.left-right div > * {
    display: inline-block;
    width: 50%;
}
article.left-right figure {
    float: right;
    width: 35%;
}

article.right-left figure {
    float: left;
    width: 60%;
}

article.top-bottom {}

article.full-image>div>figure>img {
    width: 100%;
}

article.prompt-question>div {
    background: url(/assets/img/background-pink.png) center;
    background-size: contain;
    min-height: 350px;
}
.prompt-question h3 {
    color: #b13173;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 0em;
}
.prompt-question h2 {
    color: #b13173;
    text-transform: uppercase;
    font-size: 1.3em;
}


/* Slide speific tweaks */

#toc>li {
    color: #000000;
    font-family: Roboto;
    font-weight: 300;
    font-size: .9em;
}
ol#toc>li.section {
    /* background-color: teal; */
    /* border-top: 1px solid gray; */
    font-family: kanit, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 1em;
}
ol#toc>li.section a {
    /*color: white;*/
    font-size: 110%;
    font-weight: bold;
    color: #00a599;
}
#blockchain-business div p {
    font-weight: 300;
}
#thanks div p {
    font-weight: 300;
}
#license div p {
    font-weight: 300;
}
#how-to-join-us div p {
    font-weight: 300;
}
#housekeeping div p {
    font-weight: 300;
}
span.handsOnParagraph {
    float: left;
    margin-bottom: 1.5rem;
    font-family: roboto;
    font-weight: 300;
    font-size: .8em;
    padding-left: .2em;
}
h3.exampleSubhead {
    margin-left: .8em !important;
}
article#block-example {
    border: none;
    color: white;
    padding-top: .1em;
    padding-bottom: 1em;
    padding-left: .4em;
    padding-right: .4em;
    background: url(/assets/img/BCI_rightalign_white.png) no-repeat;
    background-position: top 1.5em right 1em;
    background-size: 100px;
    background-color: #003449;
    border-right: 5px solid #003449;
}
span.goal {
    font-family: roboto;
    font-weight: 300;
    font-size: .75em;
    font-style: italic;
}
ul.exampleBullets {
    font-size: .8em;
    margin-bottom: 1.2em !important;
}
.feedbackCallToAction {
    padding: 2em;
    border: 5px solid #efefef;
}
.feedbackCallToAction span {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: .9em;
    margin-bottom: 2em;
    display: block;
}
.feedbackCallToAction a {
    padding: 1em 3em 1em 3em;
    background-color: #ed0744;
    font-family: Kanit;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.05em;
    display: block;
}
img.notesIcon {
    margin-top: 0em !important;
}




/*Hide notes in footers (LEAVE AT BOTTOM)*/

/*
footer p:not(:first-child) {
    display: none;
}
footer ul, ol, h4, h5, blockquote {
    display: none;
}
*/


