<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/slideshow.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <meta name="og:title" content="{{ page.ogTitle }}">
    <meta name="og:description" content="{{ page.ogDesc }}">
    <meta name="og:image" content="{{ page.ogImage }}">
    <!-- <meta name="og:url" content="{{ page.ogUrl }}"> -->
    <meta name="og:type" content="website">
    <meta property="og:title" content="{{ page.ogTitle }}">
    <meta property="og:description" content="{{ page.ogDesc }}">
    <meta property="og:image" content="{{ page.ogImage }}">
    <!-- <meta property="og:url" content="{{ page.ogUrl }}"> -->
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.ogTitle }}">
    <meta name="twitter:description" content="{{ page.ogDesc }}">
    <meta name="twitter:image" content="{{ page.ogImage }}">
    <meta name="twitter:creator" content="@bchaininstitute">
    <link rel="shortcut icon" href="assets/img/logoFiles/cropped_android_chrome_256x256_270x270_315_icon.ico">
    <link rel=icon href="assets/img/logoFiles/cropped-android-chrome-256x256-32x32.png" sizes="32x32">
    <link rel=icon href="assets/img/logoFiles/cropped-android-chrome-256x256-192x192.png" sizes="192x192">
    <link rel=apple-touch-icon-precomposed href="assets/img/logoFiles/cropped-android-chrome-256x256-180x180.png">
    <meta name=msapplication-TileImage content="assets/img/logoFiles/cropped-android-chrome-256x256-270x270.png">
    <script src="https://script.crazyegg.com/pages/scripts/0073/9552.js" async="async"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121231750-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-121231750-4');
	</script>

</head>

<body>
	{{ content }}
</body>

</html>
